@import './ui/style/utils.css';
@import '@ui/style/globals.css';

/*  reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Core Colors */
  --white: #ffffffff;
  --platinum: #e1e0dcff;
  --silver: #b0ada7ff;
  --gray: #7e7a72ff;
  --jet: #302e2bff;
  --eerie-black: #201f1dff;
  --mid-night: color-mix(in srgb, var(--eerie-black) 50%, var(--night) 50%);
  --night: #0b0a0aff;
  
  /* Accent Colors */
  --flame: #eb5e28ff;
  --burnt-sienna: #ed6d3cff;
  --turquoise: #40e0d0;
  --turquoise-glow: rgba(64, 224, 208, 0.15);
  --turquoise-bg: rgba(64, 224, 208, 0.05);

  --translucent-white-02: hsla(0, 0%, 100%, 0.02);
  --translucent-white-03: #ffffff08;
  --translucent-white-04: #ffffff0a;
  --translucent-white-05: #ffffff0b;
  --translucent-white-1: #ffffff1a;
  --translucent-white-2: #ffffff2a;
  --translucent-white-3: #ffffff3a;

  --top-drawer-height: 320px;
  --sidebar-width-compressed: 3.5rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--platinum);
  background-color: var(--eerie-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
body {
 height: 100vh;
 width: 100vw;
 overflow: hidden;
 font-size: 14px
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
h5 {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
h6 {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

a {
  color: var(--platinum);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: var(--flame);
}
*/
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: var(--black-olive);
    background-color: var(--floral-white);
  }
  a:hover {
    color: var(--flame);
  }
  button {
    background-color: #f9f9f9;
  }
} */