/*  reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffffff;
  --platinum: #e1e0dcff;
  --silver: #b0ada7ff;
  --gray: #7e7a72ff;
  --jet: #302e2bff;
  --eerie-black: #201f1dff;
  --night: #0b0a0aff;
  --flame: #eb5e28ff;
  --burnt-sienna: #ed6d3cff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--platinum);
  background-color: var(--eerie-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
 height: 100vh;
 width: 100vw;
 overflow: hidden;
}

a {
  color: var(--platinum);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: var(--flame);
}
button {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black-olive);
    background-color: var(--floral-white);
  }
  a:hover {
    color: var(--flame);
  }
  button {
    background-color: #f9f9f9;
  }
}
